
@model Blog.Models.Article

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h2>
        @Model.Title
    </h2>
    @using (Html.BeginForm("Delete", "Article", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <p>
            @Model.Content
        </p>
        <div class="pull-left">
            @foreach (var tag in Model.Tags)
            {
                @Html.ActionLink(tag.Name, "List", "Tag", new { @id = tag.Id }, new { @class = "btn btn-default btn-xs" })
            }
        </div>
        <div class="pull-right">
            <small class="author">
                --author @Model.Author.FullName
            </small>
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(m => m.Content, new { @class = "control-label col-sm-4" })
            <div class="col-sm-4">
                @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @readonly = "readonly", @rows = "7" })
            </div>
        </div>

        <h3>Comments</h3>
        foreach (var comment in Model.Comments)
        {
            <div class="form-group">
                @Html.LabelFor(c => comment.Content, "", new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextAreaFor(c => comment.Content, new { @class = "form-control", @readonly = "readonly", })
                </div>
            </div>
        }

        <footer class="pull-right">
            @if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name))
            {
                @Html.ActionLink("Add Comment", "CreateComment", "Article", new { @id = Model.Id }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Edit", "Edit", "Article", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                @Html.ActionLink("Delete", "Delete", "Article", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
            }

            @Html.ActionLink("Back", "Index", "Article", null, new { @class = "btn btn-default btn-xs" })
        </footer>
    }
</div>
